body{

  
  /*background-image: url("http://simplywallpaper.net/pictures/2010/10/02/Floating-Candles.jpg");*/
  background-image:linear-gradient(#740001,black);
 background-repeat: no-repeat;
 background-attachment: fixed;
  
  text-align:center;
  color:black;
}

.page-title{
  color:gold;
  font-family: 'Monoton', cursive;
}
.sort-div{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin:25px;
}
.sort-image{
  width:150px;
  height:150px;
  border-radius:100px;
  box-shadow:0px 0px 500px 40px gold;
}
.sorting-buttons{
  background-color:#740001;
  width:100px;
  border:solid gold 2px;
  color:gold;
  border-radius:25px;
}
.sorting-buttons:hover{
  background-color:gold;
  color:#740001;
  border:solid #740001 2px;
}

.sort-card{
 display:flex;
 justify-content: center;
margin:25px;
}

.hat-hat{
 
}
.sort-card-body{
  background-color:gold;
}
#Name{
  width:200px;
 text-align:center;
}
.start-button{
  background-color:#740001;
width:100px;
border:solid gold 2px;
color:gold;
border-radius:25px;
}
.start-button:hover{
  background-color:gold;
  color:#740001;
  border:solid #740001 2px;

}
.form-div{
  display:flex;
  justify-content:center;
}
#sortButton{
  background-color:gold;
width:100px;
border:solid black 2px;
color:black;
}
#sortButton:hover{
  background-color:#740001;
  color:gold;
}
.hogwarts-student-div{


}
.voldemort-pet-div{
  

}
.student-card-button-div{
  text-align:center;
}
.card-container{
  display:flex;
  justify-content:space-evenly ;
}
.Ravenclaw{
  background-image: linear-gradient(to right,#0E1A40 ,#946B2D );
}
.Gryffindor{
  background-image: linear-gradient(to right,#740001 ,#D3A625 );
}
.Slytherin{
  background-image: linear-gradient(to right,#1A472A ,#5D5D5D);

}
.Hufflepuff{
  background-image: linear-gradient(to right,#FFD800 ,#000000);
}
.audio-player{
  background-color: #FFD800;
  border:solid gold 5px;
  border-radius:50px;
  
}
