body{

  
  background-image: url("http://simplywallpaper.net/pictures/2010/10/02/Floating-Candles.jpg");
  
  background-size:1300px;
 
  
  text-align:center;
  color:black;
}

.page-title{
  color:gold;
}
.sort-div{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin:25px;

}
.sort-card{
 display:flex;
 justify-content: center;
margin:25px;

}
.sort-card-body{
  background-color:gold;
}
#Name{
  width:200px;
 text-align:center;
}
.form-div{
  display:flex;
  justify-content:center;
}
#sortButton{
  background-color:black;
width:100px;
border:solid black 2px;
}

.hogwarts-student-div{


}
.voldemort-pet-div{
  

}
.card-container{
  display:flex;
  justify-content:space-evenly ;
}
.Ravenclaw{
  background-image: linear-gradient(to right,#0E1A40 ,#946B2D );
}
.Gryffindor{
  background-image: linear-gradient(to right,#740001 ,#D3A625 );
}
.Slytherin{
  background-image: linear-gradient(to right,#1A472A ,#5D5D5D);

}
.Hufflepuff{
  background-image: linear-gradient(to right,#FFD800 ,#000000);
}
